<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content"><?php echo $content_top; ?>
<!--21:14:59--><div style="display: none;"><?php echo $heading_title; ?></div>
<?php echo $content_bottom; ?></div>
<?php echo $footer; ?>