<?php echo $header; ?>

<div class="content-container">
    <section class="box">
        <div class="box-heading">
            <!--21:04:53--><div class="align-left"><?php echo $heading_title; ?></div>
            <div class="display">
                <span class="displayText"><?php echo $text_display; ?></span>
                <div class="gridListActive"></div>
                <a onclick="display('grid');">
                    <div class="listView"></div>
                </a>
            </div>

            <div class="sort"><b><?php echo $text_sort; ?></b>
                <select onchange="location = this.value;">
                    <?php foreach ($sorts as $sorts) { ?>
                    <?php if ($sorts['value'] == $sort . '-' . $order) { ?>
                    <option value="<?php echo $sorts['href']; ?>" selected="selected"><?php echo $sorts['text']; ?></option>
                    <?php } else { ?>
                    <option value="<?php echo $sorts['href']; ?>"><?php echo $sorts['text']; ?></option>
                    <?php } ?>
                    <?php } ?>
                </select>
            </div>
        </div>


        <nav class="breadcrumb">
            <?php foreach ($breadcrumbs as $breadcrumb) { ?>
            <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
            <?php } ?>
        </nav>
        <?php echo $_SESSION['text_compare'];?>

        <div class="product-list">
            <?php $i=0; foreach ($products as $product) { $i++; ?>
            <div class="one-third<?php echo ($i % 3 == 0)? " last":"";?>">
            <article class="box-content product-item<?php echo ($product['special'])?" action":""; echo $product['sale'];?>">

            <div class="left">
                <?php if ($product['thumb']) { ?>
                <div class="image">
                    <a href="<?php echo $product['href']; ?>">
                        <img src="<?php echo $product['thumb']; ?>" title="<?php echo $product['name']; ?>" alt="<?php echo $product['name']; ?>"/>
                    </a>
                </div>
                <?php } ?>

                <div class="name" style="height: 40px;">
                    <h6><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h6>
                    <?php if (isset($product['manufacturer']) && false) { ?>
                    <h6>Производитель: <?php echo $product['manufacturer']; ?></h6>
                    <?php } ?>
                </div>
                <div class="description"><?php echo $product['description']; ?></div>
            </div>

            <div class="right">
                <div class="wishlist"><a onclick="addToWishList('<?php echo $product['product_id']; ?>');"><?php echo $button_wishlist; ?></a></div>
                <div class="compare"><a onclick="addToCompare('<?php echo $product['product_id']; ?>');" class="comp_<?php echo $product['product_id']; ?><?php  echo ($_SESSION['compare'][0] == $product['product_id'] || $_SESSION['compare'][1] == $product['product_id'] || $_SESSION['compare'][2] == $product['product_id']) ? ' active' : ''; ?>"><?php echo $button_compare; ?></a></div>
		            <?php if (!$product['special']) { ?>
		            <div class="price"> <?php echo $product['price']; ?></div>
		            <?php } else { ?>
		            <div class="price">
									<div style="display: inline-block	; font-size: 14px; font-weight: bold; text-decoration: line-through; color: #000;"><?php echo intval($product['price']); ?></div>
									<?php echo $product['special']; ?>
								</div>
		            <?php } ?>
            
                <?php /*if ($product['tax']) { ?>
                <br/>
                <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
                <?php } */?>
                <?php /*if ($product['rating']) { ?>
                <div class="rating"><img src="catalog/view/theme/default/image/stars-<?php echo $product['rating']; ?>.png" alt="<?php echo $product['reviews']; ?>"/></div>
                <?php } */?>
                <div class="cart"> 
									<?php
									//if($this->session->data['cart'][$product['product_id']]>0) echo 'incart';
			
									// ******************* SEDOY проверка есть ли в корзине (в т.ч. товары со свойствами)
									$incart = '';
									$tmp_cart_var_names  = array();
									foreach ($_SESSION['cart'] as $cart_name => $cart_value) {
										$tmp = explode(':',$cart_name);
										if ($product['product_id'] == $tmp[0]) $incart = 'incart';
									}
									// ******************* SEDOY конец проверки на наличие в корзине
									
									if ($incart) {
												echo '<a href="'.$product['href'].'" class="button" onclick="addToCart(\''.$product['product_id'].'\',\'1\',\'prodsearch\'); return false;" id="addtocart_'.$product['product_id'].'">Купить</a> <a href="'.$product['href'].'" class="button incart" id="incart_prodsearch_'.$product['product_id'].'" style="padding: 6px 12px 4px 16px;" title="В корзине"></a>';
											} else {
												echo '<a href="'.$product['href'].'" class="button" onclick="addToCart(\''.$product['product_id'].'\',\'1\',\'prodsearch\'); return false;" id="addtocart_'.$product['product_id'].'">Купить</a> <a href="'.$product['href'].'" class="button incart" id="incart_prodsearch_'.$product['product_id'].'" style="padding: 6px 12px 4px 16px; display: none;" title="В корзине"></a>';
											}
								?>
            
						    </div>
            </div>
            </article>
        </div>
        <?php } ?>
</div>

<div class="clear"></div>
<div class="pagination"><?php echo $pagination; ?></div>
<div class="clear"></div>  <br >

<?php if ($description) { ?>
<div class="box-content">
    <?php echo $description; ?>
</div>
<?php } ?>

</section>
</div>

<?php echo $column_left; ?>
<?php echo $footer; ?>

<?php /* echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>

<div id="content"><?php echo $content_top; ?>

  <div class="breadcrumb">

    <?php foreach ($breadcrumbs as $breadcrumb) { ?>

    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>

    <?php } ?>

  </div>

  <!--21:04:59--><div><?php echo $heading_title; ?></div>

  <b><?php echo $text_critea; ?></b>

  <div class="content">

    <p><?php echo $entry_search; ?>

      <?php if ($filter_name) { ?>

      <input type="text" name="filter_name" value="<?php echo $filter_name; ?>" />

      <?php } else { ?>

      <input type="text" name="filter_name" value="<?php echo $filter_name; ?>" onclick="this.value = '';" onkeydown="this.style.color = '000000'" style="color: #999;" />

      <?php } ?>

      <select name="filter_category_id">

        <option value="0"><?php echo $text_category; ?></option>

        <?php foreach ($categories as $category_1) { ?>

        <?php if ($category_1['category_id'] == $filter_category_id) { ?>

        <option value="<?php echo $category_1['category_id']; ?>" selected="selected"><?php echo $category_1['name']; ?></option>

        <?php } else { ?>

        <option value="<?php echo $category_1['category_id']; ?>"><?php echo $category_1['name']; ?></option>

        <?php } ?>

        <?php foreach ($category_1['children'] as $category_2) { ?>

        <?php if ($category_2['category_id'] == $filter_category_id) { ?>

        <option value="<?php echo $category_2['category_id']; ?>" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_2['name']; ?></option>

        <?php } else { ?>

        <option value="<?php echo $category_2['category_id']; ?>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_2['name']; ?></option>

        <?php } ?>

        <?php foreach ($category_2['children'] as $category_3) { ?>

        <?php if ($category_3['category_id'] == $filter_category_id) { ?>

        <option value="<?php echo $category_3['category_id']; ?>" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_3['name']; ?></option>

        <?php } else { ?>

        <option value="<?php echo $category_3['category_id']; ?>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_3['name']; ?></option>

        <?php } ?>

        <?php } ?>

        <?php } ?>

        <?php } ?>

      </select>

      <?php if ($filter_sub_category) { ?>

      <input type="checkbox" name="filter_sub_category" value="1" id="sub_category" checked="checked" />

      <?php } else { ?>

      <input type="checkbox" name="filter_sub_category" value="1" id="sub_category" />

      <?php } ?>

      <label for="sub_category"><?php echo $text_sub_category; ?></label>

    </p>

    <?php if ($filter_description) { ?>

    <input type="checkbox" name="filter_description" value="1" id="description" checked="checked" />

    <?php } else { ?>

    <input type="checkbox" name="filter_description" value="1" id="description" />

    <?php } ?>

    <label for="description"><?php echo $entry_description; ?></label>

  </div>

  <div class="buttons">

    <div class="right"><input type="button" value="<?php echo $button_search; ?>" id="button-search" class="button" /></div>

  </div>

  <h2><?php echo $text_search; ?></h2>

  <?php if ($products) { ?>

  <div class="product-filter">

    <div class="display"><b><?php echo $text_display; ?></b> <?php echo $text_list; ?> <b>/</b> <a onclick="display('grid');"><?php echo $text_grid; ?></a></div>

    <div class="limit"><?php echo $text_limit; ?>

      <select onchange="location = this.value;">

        <?php foreach ($limits as $limits) { ?>

        <?php if ($limits['value'] == $limit) { ?>

        <option value="<?php echo $limits['href']; ?>" selected="selected"><?php echo $limits['text']; ?></option>

        <?php } else { ?>

        <option value="<?php echo $limits['href']; ?>"><?php echo $limits['text']; ?></option>

        <?php } ?>

        <?php } ?>

      </select>

    </div>

    <div class="sort"><?php echo $text_sort; ?>

      <select onchange="location = this.value;">

        <?php foreach ($sorts as $sorts) { ?>

        <?php if ($sorts['value'] == $sort . '-' . $order) { ?>

        <option value="<?php echo $sorts['href']; ?>" selected="selected"><?php echo $sorts['text']; ?></option>

        <?php } else { ?>

        <option value="<?php echo $sorts['href']; ?>"><?php echo $sorts['text']; ?></option>

        <?php } ?>

        <?php } ?>

      </select>

    </div>

  </div>

  <div class="product-compare"><a href="<?php echo $compare; ?>" id="compare-total"><?php echo $text_compare; ?></a></div>

  <div class="product-list">

    <?php foreach ($products as $product) { ?>

    <div>

      <?php if ($product['thumb']) { ?>

      <div class="image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" title="<?php echo $product['name']; ?>" alt="<?php echo $product['name']; ?>" /></a></div>

      <?php } ?>

      <div class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>

      <div class="description"><?php echo $product['description']; ?></div>

      <?php if ($product['price']) { ?>

      <div class="price">

        <?php if (!$product['special']) { ?>

        <?php echo $product['price']; ?>

        <?php } else { ?>

        <span class="price-old"><?php echo $product['price']; ?></span> <span class="price-new"><?php echo $product['special']; ?></span>

        <?php } ?>

        <?php if ($product['tax']) { ?>

        <br />

        <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>

        <?php } ?>

      </div>

      <?php } ?>

      <?php if ($product['rating']) { ?>

      <div class="rating"><img src="catalog/view/theme/default/image/stars-<?php echo $product['rating']; ?>.png" alt="<?php echo $product['reviews']; ?>" /></div>

      <?php } ?>

      <div class="cart"><input type="button" value="<?php echo $button_cart; ?>" onclick="addToCart('<?php echo $product['product_id']; ?>');" class="button" /></div>

      <div class="wishlist"><a onclick="addToWishList('<?php echo $product['product_id']; ?>');"><?php echo $button_wishlist; ?></a></div>

      <div class="compare"><a onclick="addToCompare('<?php echo $product['product_id']; ?>');"><?php echo $button_compare; ?></a></div>

    </div>

    <?php } ?>

  </div>

  <div class="pagination"><?php echo $pagination; ?></div>

  <?php } else { ?>

  <div class="content"><?php echo $text_empty; ?></div>

  <?php }?>

  <?php echo $content_bottom; */ ?></div>

<script type="text/javascript"><!--
$('#content input[name=\'filter_name\']').keydown(function(e) {
	if (e.keyCode == 13) {
		$('#button-search').trigger('click');
	}
});
$('#button-search').bind('click', function() {
	url = 'index.php?route=product/search';
	var filter_name = $('#content input[name=\'filter_name\']').attr('value');
	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}
	var filter_category_id = $('#content select[name=\'filter_category_id\']').attr('value');
	if (filter_category_id > 0) {
		url += '&filter_category_id=' + encodeURIComponent(filter_category_id);
	}
	var filter_sub_category = $('#content input[name=\'filter_sub_category\']:checked').attr('value');
	if (filter_sub_category) {
		url += '&filter_sub_category=true';
	}
	var filter_description = $('#content input[name=\'filter_description\']:checked').attr('value');
	if (filter_description) {
		url += '&filter_description=true';
	}
	location = url;
});

//--></script> 

<?php //echo $footer; ?>