<p><?php echo $text_instruction; ?></p>
<p><?php echo $text_printpay; ?></p>
<p><?php echo $text_payment; ?></p>
<div class="buttons">
  <div class="right">
    <input type="button" value="<?php echo $button_confirm; ?>" id="button-confirm" class="button" />
  </div>
</div>
<script type="text/javascript"><!--
$('#button-confirm').bind('click', function() {
	$.ajax({
		type: 'get',
		url: 'index.php?route=payment/cashless/confirm',
		success: function() {
			location = '<?php echo $continue; ?>';
		}
	});
});
//--></script>
