<?php if ($this->config->get('yandexplusplus_card_instruction_attach')){ ?>
<h2><?php echo $text_instruction; ?></h2>
<div class="content">
  <p><?php echo $yandexplusplus_cardi; ?></p>
</div>
<?php } ?>
<?php if ($this->config->get('yandexplusplus_card_button_later')){ ?><div style="float:right;"><input class="paylater button" type="button" value="<?php echo $button_later; ?>" id="button-pay" class="button" tyle="float:right;"/></div> <?php } ?>
<div class="buttons">
  <div class="right">
    <input type="button" value="<?php echo $button_confirm; ?>" id="button-confirm" class="button" />
  </div>
</div>
<script type="text/javascript"><!--
$('#button-confirm').bind('click', function() {
	$.ajax({ 
		type: 'get',
		url: 'index.php?route=payment/yandexplusplus_card/confirm',
		success: function() {
			location = '<?php echo $pay_url; ?>';
		}		
	});
});
<?php if ($this->config->get('yandexplusplus_card_button_later')){ ?>
$('#button-pay').bind('click', function() {
	$.ajax({ 
		type: 'get',
		url: 'index.php?route=payment/yandexplusplus_card/confirm',
		success: function() {
			location = '<?php echo $payment_url; ?>';
		}		
	});
});
<?php } ?>
//--></script>
