html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial;
	font-size: 12px;
	color: #333;
}

.txt {
	font-size: 12px;
}

input.txt, select.txt, textarea.txt {
	border: 1px solid #333;
	background-color: white;
	font-family: Arial;
}

input.txt[type="submit"] {
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px 5px;
	width: 200px;
	font-weight: bold;
	padding: 3px 0;
	border-width: 2px;
}

input.txt:hover[type="submit"] {
	background-color: #EEE;
}

h1, h2, h3 {
}

h1 {
	font-family: Verdana;
	font-size: 18px;
	color: Red;
	padding-top: 45px;
	text-transform: uppercase;
}

h2 {
	font-family: Verdana;
	font-size: 16px;
	color: Red;
}

h3 {
	font-family: Verdana;
	font-size: 11px;
	color: #333;
}

a {
	font-size: 12px;
	color: #333;
	text-decoration: none;
}

a.button {
	display:inline-block;
	width: 200px;
	padding: 3px 0;
	background-color: #FFF;
	text-align: center;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px 3px;
	border:1px solid #333;
	font-weight: bold;
}

a.button:hover {
	background-color: #EEE;
}

div.msg {
	text-align: center;
	border: 1px dashed #999;
	background-color: #FDFDFD;
	font-family: Arial;
	font-size: 14px;
	color: Red;
	width: auto;
	padding: 8px 0;
	font-weight: bold;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border-radius: 10px;
}


/* заголовок таблицы */
tr.head td {
	background-color: #333;
	color: #FFF;
	font-weight: bold;
	padding:4px 0;
	font-size: 12px;
}

tr.head td.left {
	-moz-border-radius: 6px 0 0 6px; 
	-webkit-border-radius: 6px 0 0 6px; 
	border-radius: 6px 0 0 6px;
	
}

tr.head td.right {
	-moz-border-radius: 0 6px 6px 0; 
	-webkit-border-radius: 0 6px 6px 0; 
	border-radius: 0 6px 6px 0;
}

tr.body:hover {
	background-color: #EEE;
}


/* постраничная навигация */
div.pages {
	width:100%;
	text-align: center;
	font-family: arial;
	font-size: 12px;
}

div.pages span {
	display: inline-block;
	padding: 5px;
	margin: 5px;	
	font-weight: bold;
	color: #666;
	background-color: #FFF;
	border: 1px dashed #666;
}

div.pages a {
	margin: 5px;
	display: inline-block;
	padding: 5px;
	font-weight: bold;
	color: #FFF;
	background-color: #666;
	text-decoration: none;	
}



/*------------------------------------*\
	НАВИГАЦИЯ
\*------------------------------------*/
#nav{
	float:left;
/*	width:100%; */
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
	font-size: 12px;
	font-family:Arial,Verdana,sans-serif !important;
	text-align: center;
}
#nav li{
	float:left;
	margin-right:10px;
	position:relative;
	display:block;
	font-size: 12px;	
}
#nav li a{
	display:block;
	padding:3px;
	color:#333;
	background:#FFF;
	border: 1px solid #CCC;
	text-decoration:none;
	font-family:Arial,Verdana,sans-serif !important;
	font-size: 12px;		
	
/*	text-shadow:1px 1px 1px rgba(0,0,0,0.75); *//* Тень текста, чтобы приподнять его на немного */
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
#nav li a:hover{
	color:#333;
	background-color:#EEE;
/*	background:rgba(107,12,54,0.75); */ /* Выглядит полупрозрачным */
	text-decoration:none;
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#nav ul{
	list-style:none;
	position:absolute;
	padding: 0;
	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
	opacity:0; /* Устнавливаем начальное состояние прозрачности */
	-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
#nav ul li{
	padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
	float:none;
	background:url(img/dot.gif);
}
#nav ul a{
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display:block;
}
#nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	left:0; /* Приносим его обратно на экран, когда нужно */
	opacity:1; /* Делаем непрозрачным */
}
#nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
	background:#EEE;
	/*background:rgba(107,12,54,0.75); *//* Выглядит полупрозрачным */
	text-decoration:none;
}
#nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
	background:#CCC;
/*	background:rgba(51,51,51,0.75); */ /* Будет полупрозрачным */
	text-decoration:none;
/*
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
*/
}

ul.col2, ul.col3 {
	padding: 0;
	margin: 0;
	border: 0;
 	width: 100%;
}

ul.col2 li, ul.col3 li {
	list-style: none;
	display: inline-block;
}

ul.col2 li {
	width: 50%;
}

ul.col3 li {
	width: 33%;
}

tr.gray td {
	opacity: 0.6;
}

/*
.h100 {
	height: 100%;
}

.px12 {}

.txt {
	font-family: Arial;
	font-size: 11px;
	color: Gray;
}

.txt_small {
	font-family: Arial;
	font-size: 11px;
	color: Gray;
	border: solid 1px;
	border-color: Gray;
	background-color: White;
}

.head {
	font-family: Arial;
	font-size: 12px;
	color: White;
	background-color: Gray;
	padding: 1px;
}

.red {
	font-family: Arial;
	font-size: 11px;
	color: Red;
}

input.txt {
	font-family: Arial;
	font-size: 11px;
	color: Gray;
	border: solid 1px;
	border-color: Gray;
	background-color: White;
}

input.submit {
	font-family: Arial;
	font-size: 11px;
	color: White !important;
	border: solid 1px;
	border-color: Gray;
	background-color: Gray !important;
}

select.txt {
	font-family: Arial;
	font-size: 11px;
	color: Gray;
	border: solid 1px;
	border-color: Gray;
	background-color: White;
}

textarea.txt {
	font-family: Arial;
	font-size: 11px;
	color: Gray;
	border: solid 1px;
	border-color: Gray;
	background-color: White;
}

input.submit {
	font-family: Arial;
	font-size: 11px;
	color: Gray;
	border: solid 1px;
	border-color: Gray;
	background-color: #DDD;
}

.link {
	font-family: Arial;
	font-size: 11px;
	color: Gray;
	text-decoration: none;
	padding: 1px;
}

.link_act {
	font-family: Arial;
	font-size: 11px;
	color: Red;
	text-decoration: none;
	padding: 1px;
}

.link:hover{
	background-color: Gray;
	color: White;
}

.link_act:hover {
	background-color: Red;
	color: White;
}
div.msg {
	border: 1px dashed #999;
	background-color: #FCFCFC;
	font-family: Arial;
	font-size: 11px;
	color: Red;
	width: auto;
	height: 22;
	padding-top: 11px;

}

.menu_top {
	font-family: Verdana;
	font-size: 11px;
	color: Gray;
	text-decoration: none;
	padding: 3px;
	border: 1px solid #CCC;
}

.menu_top_act {
	font-family: Verdana;
	font-size: 11px;
	text-decoration: none;
	padding: 3px;
	border: 1px solid #CCC;
	background-color: Gray;
	color: White;
}

.menu_top:hover {
	background-color: Gray;
	color: White;
}

h1 {
	font-family: Verdana;
	font-size: 14px;
	color: Red;
}

h2 {
	font-family: Verdana;
	font-size: 12px;
	color: Red;
}

td.report_head {
	text-align: center;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
}

td.report_body {
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	background-color: white;
}

table.list tr.head {
	background-color: gray;
	color: white;
	font-weight: bold;
	text-align: center;
}

table.list tr.body:hover {
	background-color: #EEE;	
}

table.list tr.body td {
	text-align: center;
	border-bottom: 1px dotted #DDD;
}

table.list tr.body td a {
	text-decoration: none;
	color: gray;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
}

ul.col3 {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
}

li.col3 {
  list-style: none !important;
  float: left;
  width: 33%;
}

div.nav {
	width:100%;
	text-align: center;
	font-family: arial;
	font-size: 12px;
}

div.nav span {
	display: inline-block;
	padding: 5px;
	margin: 5px;	
	font-weight: bold;
	color: #666;
	background-color: #FFF;
	border: 1px dashed #666;
}

div.nav a {
	margin: 5px;
	display: inline-block;
	padding: 5px;
	font-weight: bold;
	color: #FFF;
	background-color: #666;
	text-decoration: none;	
}

table.form td {
	padding-bottom: 5px; 
	border-bottom: 1px dotted #CCC;
}

ul.t_col {
	padding: 0;
	margin: 0;
	width: 100%;
}

ul.t_col li {
	width: 33%;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	font-family: Arial;
	font-size: 11px;
	color: Gray;	
}

ul.tw_col {
	padding: 0;
	margin: 0 0 20px 0;
	width: 100%;
}

ul.tw_col li {
	width: 50%;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	font-family: Arial;
	font-size: 11px;
	color: Gray;	
}
*/