#filterpro {
	background: url(../image/list_divider.png) top left repeat-x;
	margin-top: 10px;
}

#filterpro .option_box {
	display: inline-block;
	margin: 5px 0;
	width: 100%;
	padding: 5px;
	background: url(../image/list_divider.png) top left repeat-x;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

}

#filterpro .collapsible {
	margin-bottom: 0;
}

#filterpro .price_limit {
	width: 100%;
}

#filterpro .ui-slider-horizontal {
	height: 6px;
}

#filterpro .ui-slider-horizontal .ui-slider-handle {
	top: -6px;
}

#filterpro .ui-widget-header {
	background: none repeat scroll 0 0 #0081e5;
	border: 0 none;
	color: #FFFFFF;
	font-weight: bold;
}

#filterpro select {
	width: 126px;
}

#filterpro .ui-state-hover, #filterpro .ui-state-focus, #filterpro .ui-state-active {
	border: 1px solid #38B0E3;
	background: none repeat scroll 0 0 #d9f2fc;
}

#filterpro .price_slider {
	padding: 5px;
}

#filterpro .price_slider table {
	margin-top: 10px;
}

#filterpro .price_slider table td {
	vertical-align: bottom;
	padding: 0 2px;
}

#filterpro .price_slider > label {
	font: 14px 'Cuprum', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

#filterpro .option_values {
	padding-top: 5px;
}

#filterpro .option_name, #filterpro .attribute_group_name {
	background: url("../image/filter-bullet-down.png") no-repeat scroll right center transparent;
	cursor: pointer;
	padding: 5px;
	font: 14px 'Cuprum', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
#filterpro .attribute_group_name{
	padding-left: 0;
}

#filterpro .hided {
	background: url("../image/filter-bullet-up.png") no-repeat scroll right center transparent;
	cursor: pointer;
}

.clear_filter {
	text-decoration: none;
	font: 11px 'Cuprum', sans-serif;
	text-transform: uppercase;
	color: #0081e5;
	background: url(../image/close.png) right center no-repeat;
	padding-right: 15px;
}
