#wrapper .d-carousel ul li {
	background: none;
	background-color: #FFF;
	padding: 12px;
	width: 153px;
	border: 1px solid #DDD;
	text-align: center;
}

.jcarousel-direction-rtl {
	direction: rtl;
}

.d-carousel h4 {
	text-align: center;
	margin: 7px 0 5px 0;
	height: 42px;
	vertical-align: top;
}

.d-carousel h4 a {
	font-size: 11px;
	text-decoration: none;
}

.d-carousel div.price {
	text-align: center;
	font-family: 'Istoc Web', sans-serif;
	font-size: 21px;
	font-weight: bold;
	padding: 6px 0;
	color: #0081E5;
	height: 32px;
}

.d-carousel div.price:before {
	content: 'цена:';
	font-family: 'Cuprum', sans-serif;
	font-size: 13px;
	font-weight: normal;
	padding-right: 5px;
	color: #000000;
}
.d-carousel div.price sub {
	font-size: 13px;
	bottom: 0;
}
.d-carousel div.price .price-old {
	display: inline-block	; /* SEDOY */
	font-size: 13px;
	font-weight: bold;
	text-decoration: line-through;
	color: #000;
}
.d-carousel div.price .price-new {
	color: #e2001a;
}

.d-carousel a.button { 
	padding: 5px 10px 3px 10px;
	font-family: 'Cuprum', sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 5px;
	background: #1f9cff;
	background: -moz-linear-gradient(top, #1f9cff, #0162ae);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1f9cff), color-stop(100%, #0162ae));
	background: -webkit-linear-gradient(top, #1f9cff, #0162ae);
	background: -o-linear-gradient(top, #1f9cff, #0162ae);
	background: -ms-linear-gradient(top, #1f9cff, #0162ae);
	background: linear-gradient(top, #1f9cff, #0162ae);
	-pie-background: linear-gradient(top, #1f9cff, #0162ae);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.32), inset 0px 1px 2px rgba(255, 255, 255, 0.29);
	-o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.32), inset 0px 1px 2px rgba(255, 255, 255, 0.29);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.32), inset 0px 1px 2px rgba(255, 255, 255, 0.29);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.32), inset 0px 1px 2px rgba(255, 255, 255, 0.29);
	-pie-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.32), inset 0px 1px 2px rgba(255, 255, 255, 0.29);
	border: 1px solid rgba(0, 75, 132, 0.5);
	color: #fff;
	position: relative;
}

.d-carousel a.button:hover {
	color: #fff;
	background: #0061ac;
	background: -moz-linear-gradient(top, #0061ac, #0487ee);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0061ac), color-stop(100%, #0487ee));
	background: -webkit-linear-gradient(top, #0061ac, #0487ee);
	background: -o-linear-gradient(top, #0061ac, #0487ee);
	background: -ms-linear-gradient(top, #0061ac, #0487ee);
	background: linear-gradient(top, #0061ac, #0487ee);
	-pie-background: linear-gradient(top, #0061ac, #0487ee);
	box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.1);
	-o-box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.1);
	-pie-box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.1);
}

.d-carousel .jcarousel-container {
	display: block;
	overflow: hidden;
	margin-bottom: 0px;
}

.d-carousel .jcarousel-item {
	width: 191px;
	/*height: 290px;*/
	height: 231px;
}

.d-carousel .jcarousel-item img {
	width: 153px;
	height: 111px;
	border: 1px solid #DDD;	
}

.d-carousel .jcarousel-container-horizontal {
	/*width: 870px;*/
	width: 716px;
	height: 265px;
	padding: 0 0px;
}

.d-carousel .jcarousel-item-horizontal {
	/*margin-left: 3px; */
	margin-left: 0px;
	margin-bottom: 3px;
	margin-top: 3px;
	/* margin-right: 11px; */
	margin-right: 0px;
}

.d-carousel .jcarousel-next-horizontal {
	position: absolute;
	/*top: 149px;*/
	top: 220px;
	/*right: 0;*/
	right: 10px;
	margin-right: 3px;
	width: 15px;
	height: 28px;
	cursor: pointer;
	background: transparent url(/catalog/view/theme/brief/image/blog-arrows.jpg) no-repeat top right;
}

.d-carousel .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background-image: url(/catalog/view/theme/brief/image/blog-arrows.jpg);
}

.d-carousel .jcarousel-next-horizontal:hover {
	background-position: bottom right;
}

.d-carousel .jcarousel-prev-horizontal {
	position: absolute;
	/*top: 149px;*/
	top: 220px;
	/*left: 0;*/
	left: 10px;
	margin-left: 3px;
	width: 15px;
	height: 28px;
	cursor: pointer;
	background: transparent url(/catalog/view/theme/brief/image/blog-arrows.jpg) no-repeat top left;
}

.d-carousel .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(/catalog/view/theme/brief/image/blog-arrows.jpg);
}

.d-carousel .jcarousel-prev-horizontal:hover {
	background-position: bottom left;
}