<?php echo $header; ?>

				<?php //echo $column_right; ?>
				<div class="content-container">

					<section class="box">
						<!--20:51:57--><div class="box-heading"><?php echo $heading_title; ?></div>

						<nav class="breadcrumb">
						    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
						    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
						    <?php } ?>
    					</nav>


						<div class="box-content" style="margin-top: 30px !important;">
						  <?php if ($orders) { ?>
						  <?php foreach ($orders as $order) { ?>
						  <div class="order-list">
						    <div class="order-id"><b><?php echo $text_order_id; ?></b> #<?php echo $order['order_id']; ?></div>
						    <div class="order-status"><b><?php echo $text_status; ?></b> <?php echo $order['status']; ?></div>
						    
							 <!--Yandex++-->
							 <div class="onpay"><?php if ($this->config->get('yandexplusplus_status')){
						              if($this->config->get('yandexplusplus_style')) {
									$yandex_style = 'button';
								} else {
									$yandex_style = 'yandex_button';
								}  
						          $order_id = $order['order_id'];
						          if ($order['status'] == $yandexplusplus_order_status['name'] & $order['payment_code'] == "yandexplusplus"){
						          print "<form action='index.php?route=account/yandexplusplus&order_id=$order_id' method=POST>". "<input type=hidden name=order_id value=$order_id><input type=submit class='$yandex_style' value='Оплатить онлайн'>". "</form>";
						          }
						          }
						          ?>
						
						          <?php if ($this->config->get('yandexplusplus_card_status')){
						              if($this->config->get('yandexplusplus_card_style')) {
						      $yandex_style = 'button';
						    } else {
						      $yandex_style = 'yandex_card_button';
						    }  
						          $order_id = $order['order_id'];
						          if ($order['status'] == $yandexplusplus_card_order_status['name'] & $order['payment_code'] == "yandexplusplus_card"){
						          print "<form action='index.php?route=account/yandexplusplus&order_id=$order_id' method=POST>". "<input type=hidden name=order_id value=$order_id><input type=submit class='$yandex_style' value='Оплатить онлайн'>". "</form>";
						          }
						          }?>
				        </div> 
								<!--Yandex++-->
						    
						    
						    <div class="order-content">
						      <div><b><?php echo $text_date_added; ?></b> <?php echo $order['date_added']; ?><br />
						        <b><?php echo $text_products; ?></b> <?php echo $order['products']; ?></div>
						      <div><b><?php echo $text_customer; ?></b> <?php echo $order['name']; ?><br />
						        <b><?php echo $text_total; ?></b> <?php echo $order['total']; ?></div>
						      <div class="order-info"><a href="<?php echo $order['href']; ?>"><img src="catalog/view/theme/default/image/info.png" alt="<?php echo $button_view; ?>" title="<?php echo $button_view; ?>" /></a>&nbsp;&nbsp;<a href="<?php echo $order['reorder']; ?>"><img src="catalog/view/theme/default/image/reorder.png" alt="<?php echo $button_reorder; ?>" title="<?php echo $button_reorder; ?>" /></a></div>
						    </div>
						  </div>
						  <?php } ?>
						  <div class="pagination"><?php echo $pagination; ?></div>
						  <?php } else { ?>
						  <div class="content"><?php echo $text_empty; ?></div>
						  <?php } ?>
						  <br/>
						  <div class="buttons">
						    <div class="right"><a href="<?php echo $continue; ?>" class="button gray align-left"><?php echo $button_continue; ?></a></div>
						  </div>

 							<div class="clear"></div>
  						</div>
					</section>

				<?php //echo $content_top; ?>
				<?php //echo $content_bottom; ?>
				</div>
				<?php echo $column_left; ?><?php echo $column_right; ?>

<?php echo $footer; ?>

<?php /*echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content"><?php echo $content_top; ?>
  <div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
  <!--20:55:49--><div><?php echo $heading_title; ?></div>
  <?php if ($orders) { ?>
  <?php foreach ($orders as $order) { ?>
  <div class="order-list">
    <div class="order-id"><b><?php echo $text_order_id; ?></b> #<?php echo $order['order_id']; ?></div>
    <div class="order-status"><b><?php echo $text_status; ?></b> <?php echo $order['status']; ?></div>
    <div class="order-content">
      <div><b><?php echo $text_date_added; ?></b> <?php echo $order['date_added']; ?><br />
        <b><?php echo $text_products; ?></b> <?php echo $order['products']; ?></div>
      <div><b><?php echo $text_customer; ?></b> <?php echo $order['name']; ?><br />
        <b><?php echo $text_total; ?></b> <?php echo $order['total']; ?></div>
      <div class="order-info"><a href="<?php echo $order['href']; ?>"><img src="catalog/view/theme/default/image/info.png" alt="<?php echo $button_view; ?>" title="<?php echo $button_view; ?>" /></a>&nbsp;&nbsp;<a href="<?php echo $order['reorder']; ?>"><img src="catalog/view/theme/default/image/reorder.png" alt="<?php echo $button_reorder; ?>" title="<?php echo $button_reorder; ?>" /></a></div>
    </div>
  </div>
  <?php } ?>
  <div class="pagination"><?php echo $pagination; ?></div>
  <?php } else { ?>
  <div class="content"><?php echo $text_empty; ?></div>
  <?php } ?>
  <div class="buttons">
    <div class="right"><a href="<?php echo $continue; ?>" class="button"><?php echo $button_continue; ?></a></div>
  </div>
  <?php echo $content_bottom; ?></div>
<?php echo $footer; */?>