<div id="banner<?php echo $module; ?>" class="banner">
    <?php $i = 1;

    foreach ($banners as $banner) { ?>
        <?php if ($banner['link']) { ?>
			<div>
				<a href="<?php echo $banner['link']; ?>"
				   onclick="yaCounter23350270.reachGoal('banner_<?php echo $i; ?>'); return true;">
					<img src="<?php echo $banner['image']; ?>"
					     alt="<?php echo $banner['title']; ?>"
					     title="<?php echo $banner['title']; ?>"/>
				</a>
			</div>
        <?php } else { ?>
			<div><img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>"
			          title="<?php echo $banner['title']; ?>"/></div>
        <?php } ?>
    <?php $i++;
    } ?>
</div>
<script type="text/javascript"><!--
    $(document).ready(function () {
        $('#banner<?php echo $module; ?> div:first-child').css('display', 'block');
    });

    var banner = function () {
        $('#banner<?php echo $module; ?>').cycle({
            before: function (current, next) {
                $(next).parent().height($(next).outerHeight());
            }
        });
    }

    setTimeout(banner, 2000);
    //--></script>