<?php if ($modules) { ?>
				<div class="sidebar">
					<?php foreach ($modules as $module) { ?>
					<?php echo $module; ?>
					<div class="clear"></div>
					<?php } ?>
				</div>
<?php } ?>

<?php /* if ($modules) { ?>
<div id="column-right">
  <?php foreach ($modules as $module) { ?>
  <?php echo $module; ?>
  <?php } ?>
</div>
<?php } */?>
