#filterpro .option_box {
    /*border: 1px solid #0081E5;
    border-radius: 7px; */
    display: inline-block;
    margin: 0px;
    /*min-width: 138px;*/
    width: 185px;
    padding: 0px;
    vertical-align: top;
    
}

#filterpro .price_limit {
    border: 0;
    color: #0081E5;
    font-weight: bold;
    width: 100%;
}

#filterpro .ui-widget-header {
    background: none repeat scroll 0 0 #0081E5;
    border: 0 none;
    color: #FFFFFF;
    font-weight: bold;
}

#filterpro select {
    width: 126px;
}

#filterpro .ui-state-hover, #filterpro .ui-state-focus, #filterpro .ui-state-active {
    border: 1px solid #0081E5;
    background: none repeat scroll 0 0 #d9f2fc;
}

#filterpro .price_slider {
    padding: 5px;
}

#filterpro .option_values {
    padding-top: 5px;
}

#filterpro .option_name, #filterpro .attribute_group_name {
    background: url("../image/filter-bullet-down.png") no-repeat scroll right center transparent;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
}
#filterpro .attribute_group_name{
    padding-left: 0;
}

#filterpro .hided {
    background: url("../image/filter-bullet-up.png") no-repeat scroll right center transparent;
    cursor: pointer;
}

#filterpro .clear_filter {
    border-bottom: 1px dashed;
    text-decoration: none;
    float: right;
}

#filterpro .collapsible{
    /*max-height: 120px;*/
    overflow-y: auto;
}
#filterpro img {
    cursor: pointer;
    margin: 2px
}

#filterpro img.selected {
    border: 2px solid;
    margin: 0;
}

#filterpro .attribute_box {
	background: url(http://brief-med.ru/catalog/view/theme/brief/less/../image/list_divider.png) top left repeat-x;
	/*margin-left: 10px; */
	position: relative;
}