.rounded (@radius: 5px) {
	border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	-khtml-border-radius: @radius;
}

.box-transition (@property: all, @duration: 0.3s, @timing-function: ease-out, @delay: 0s) {
	-moz-transition-property: e(@property);
	-moz-transition-duration: @duration;
	-moz-transition-timing-function: @timing-function;
	-moz-transition-delay: @delay;
	-o-transition-property: e(@property);
	-o-transition-duration: @duration;
	-o-transition-timing-function: @timing-function;
	-o-transition-delay: @delay;
	-webkit-transition-property: e(@property);
	-webkit-transition-duration: @duration;
	-webkit-transition-timing-function: @timing-function;
	-webkit-transition-delay: @delay;
	-ms-transition-property: e(@property);
	-ms-transition-duration: @duration;
	-ms-transition-timing-function: @timing-function;
	-ms-transition-delay: @delay;
	transition-property: e(@property);
	transition-duration: @duration;
	transition-timing-function: @timing-function;
	transition-delay: @delay;
}

.box-transition (@property: all) {
	-moz-transition-property: e(@property);
	-o-transition-property: e(@property);
	-webkit-transition-property: e(@property);
	-ms-transition-property: e(@property);
	transition-property: e(@property);
}

.box-transition-duration (@duration: 0.3s) {
	-moz-transition-duration: @duration;
	-o-transition-duration: @duration;
	-webkit-transition-duration: @duration;
	-ms-transition-duration: @duration;
	transition-duration: @duration;
}

.box-transition-timing-function (@timing-function: ease-out) {
	-moz-transition-timing-function: @timing-function;
	-o-transition-timing-function: @timing-function;
	-webkit-transition-timing-function: @timing-function;
	-ms-transition-timing-function: @timing-function;
	transition-timing-function: @timing-function;
}

.box-transition-delay (@delay: 0s) {
	-moz-transition-delay: @delay;
	-o-transition-delay: @delay;
	-webkit-transition-delay: @delay;
	-ms-transition-delay: @delay;
	transition-delay: @delay;
}

.shadow (...) {
	box-shadow: e(@arguments);
	-o-box-shadow: e(@arguments);
	-webkit-box-shadow: e(@arguments);
	-moz-box-shadow: e(@arguments);
	-pie-box-shadow: e(@arguments);
}

.gradient (@top, @bottom) when (iscolor(@top)) {
	background: @top;
	background: -moz-linear-gradient(top, @top, @bottom);
	background: -webkit-gradient(linear, left top, left bottom,	color-stop(0%, @top), color-stop(100%, @bottom));
	background: -webkit-linear-gradient(top, @top, @bottom);
	background: -o-linear-gradient(top, @top, @bottom);
	background: -ms-linear-gradient(top, @top, @bottom);
	background: linear-gradient(top, @top, @bottom);
	-pie-background: linear-gradient(top, @top, @bottom);
}
.gradient (@img, @top, @bottom) {
	background: @img, @top;
	background: @img, -moz-linear-gradient(top, @top, @bottom);
	background: @img, -webkit-gradient(linear, left top, left bottom,	color-stop(0%, @top), color-stop(100%, @bottom));
	background: @img, -webkit-linear-gradient(top, @top, @bottom);
	background: @img, -o-linear-gradient(top, @top, @bottom);
	background: @img, -ms-linear-gradient(top, @top, @bottom);
	background: @img, linear-gradient(top, @top, @bottom);
}

.gradient-horiz (@left, @right) when (iscolor(@left)) {
	background: @left;
	background: -moz-linear-gradient(left, @left, @right);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, @left), color-stop(100%, @right));
	background: -webkit-linear-gradient(left, @left, @right);
	background: -o-linear-gradient(left, @left, @right);
	background: -ms-linear-gradient(left, @left, @right);
	background: linear-gradient(left, @left, @right);
}
.gradient-horiz (@img, @left, @right) {
	background: @img, @left;
	background: @img, -moz-linear-gradient(left, @left, @right);
	background: @img, -webkit-gradient(linear, left top, right top, color-stop(0%, @left), color-stop(100%, @right));
	background: @img, -webkit-linear-gradient(left, @left, @right);
	background: @img, -o-linear-gradient(left, @left, @right);
	background: @img, -ms-linear-gradient(left, @left, @right);
	background: @img, linear-gradient(left, @left, @right);
}
.gradient-contrast-image (@top, @bottom, @light, @dark) when (lightness(@bottom) < 50%) {
	background: @light, @top;
	background: @light, -moz-linear-gradient(top, @top, @bottom);
	background: @light, -webkit-gradient(linear, left top, left bottom,	color-stop(0%, @top), color-stop(100%, @bottom));
	background: @light, -webkit-linear-gradient(top, @top, @bottom);
	background: @light, -o-linear-gradient(top, @top, @bottom);
	background: @light, -ms-linear-gradient(top, @top, @bottom);
	background: @light, linear-gradient(top, @top, @bottom);
}

.gradient-contrast-image (@top, @bottom, @light, @dark) when (lightness(@bottom) >= 50%) {
	background: @dark, @top;
	background: @dark, -moz-linear-gradient(top, @top, @bottom);
	background: @dark, -webkit-gradient(linear, left top, left bottom,	color-stop(0%, @top), color-stop(100%, @bottom));
	background: @dark, -webkit-linear-gradient(top, @top, @bottom);
	background: @dark, -o-linear-gradient(top, @top, @bottom);
	background: @dark, -ms-linear-gradient(top, @top, @bottom);
	background: @dark, linear-gradient(top, @top, @bottom);
}

.contrast (@color) when (lightness(@color) >= 50%) {
	color: #000000;
}
.contrast (@color) when (lightness(@color) < 50%) {
	color: #ffffff;
}
.contrast (@color) {
	background-color: @color;
}

.contrast-color (@color, @offset: 25%) when (lightness(@color) >= 50%) {
	color: hsl(hue(#000000), saturation(#000000), @offset - (100% - lightness(@color)));
	content: @offset - (100% - lightness(@color));
}
.contrast-color (@color, @offset: 25%) when (lightness(@color) < 50%) {
	color: hsl(hue(#ffffff), saturation(#ffffff), (100% - @offset) + lightness(@color));
}

.contrast-color-shadow (@color, @offset: 25%) when (lightness(@color) >= 50%) {
	@cc: hsl(hue(#000000), saturation(#000000), @offset - (100% - lightness(@color)));
	color: @cc;
	.contrast-text-shadow(@cc, @color);
}
.contrast-color-shadow (@color, @offset: 25%) when (lightness(@color) < 50%) {
	@cc: hsl(hue(#ffffff), saturation(#ffffff), (100% - @offset) + lightness(@color));
	color: @cc;
	.contrast-text-shadow(@cc, @color);
}

.contrast-text-shadow (@color, @bg) when ((lightness(@color) - lightness(@bg)) < 0) {
	text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
}
.contrast-text-shadow (@color, @bg) when ((lightness(@color) - lightness(@bg)) >= 0) {
	text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
}

.contrast-background (@color, @light, @dark) when (lightness(@color) >= 50%) {
	background: @dark;
}
.contrast-background (@color, @light, @dark) when (lightness(@color) < 50%) {
	background: @light;
}

.contrast-bg-image (@color, @light, @dark) when (lightness(@color) >= 50%) {
	background-image: @dark;
}
.contrast-bg-image (@color, @light, @dark) when (lightness(@color) < 50%) {
	background-image: @light;
}

.contrast-border (@color, @light: #cecdcd, @dark: #3e3e3e) when (lightness(@color) >= 50%) {
	border-color: @dark;
}
.contrast-border (@color, @light: #cecdcd, @dark: #3e3e3e) when (lightness(@color) < 50%) {
	border-color: @light;
}

.custom-background (@id) when (@id = 0) {
	background-image: none;
}
.custom-background (@id) when (@id > 0) {
	background-image: url("../images/backgrounds/@{bgi_image}");
	background-position: ~"@{bgi_posX}" ~"@{bgi_posY}";
	background-repeat: ~"@{bgi_repeat}";
}

.box-sizing (@style) {
	box-sizing: @style;
	-moz-box-sizing: @style;
	-webkit-box-sizing: @style;
}

.line-top (@color) when (lightness(@color) >= 50%) {
	border-top: 1px solid rgba(255, 255, 255, 0.6);
	.shadow('0px -1px 0px rgba(127, 127, 127, 0.3)');
}
.line-top (@color) when (lightness(@color) < 50%) {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	.shadow('0px -1px 0px rgba(0, 0, 0, 0.7)');
}

.line-bottom (@color) when (lightness(@color) >= 50%) {
	border-bottom: 1px solid rgba(127, 127, 127, 0.3);
	.shadow('0px 1px 0px rgba(255, 255, 255, 0.6)');
}
.line-bottom (@color) when (lightness(@color) < 50%) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.7);
	.shadow('0px 1px 0px rgba(255, 255, 255, 0.1)');
}

.columns(@dec: 0) {
	.one-half { width: 460-@dec/2px; }
	.one-third { width: 300-@dec/3px; }
	.two-third { width: 620-@dec/3*2px; }
	.one-fourth { width: 220-@dec/4px; }
	.two-fourth { width: 460-@dec/4*2px; }
	.three-fourth { width: 700-@dec/4*3px; }
	.one-fifth { width: 172-@dec/5px; }
	.two-fifth { width: 346-@dec/5*2px; }
	.three-fifth { width: 556-@dec/5*3px; }
	.four-fifth { width: 748-@dec/5*4px; }
	.one-sixth { width: 140-@dec/6px; }
	.two-sixth { width: 300-@dec/6*2px; }
	.three-sixth { width: 460-@dec/6*3px; }
	.four-sixth { width: 620-@dec/6*4px; }
	.five-sixth { width: 780-@dec/6*5px; }
}

.transform(...) {
	-webkit-transform: e(@arguments);
	-moz-transform: e(@arguments);
	-ms-transform: e(@arguments);
	-o-transform: e(@arguments);
	transform: e(@arguments);
}