<?php echo $header; ?>
<div id="content">
  <div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
  <?php if ($error_install) { ?>
  <div class="warning"><?php echo $error_install; ?></div>
  <?php } ?>
  <?php if ($error_image) { ?>
  <div class="warning"><?php echo $error_image; ?></div>
  <?php } ?>
  <?php if ($error_image_cache) { ?>
  <div class="warning"><?php echo $error_image_cache; ?></div>
  <?php } ?>
  <?php if ($error_cache) { ?>
  <div class="warning"><?php echo $error_cache; ?></div>
  <?php } ?>
  <?php if ($error_download) { ?>
  <div class="warning"><?php echo $error_download; ?></div>
  <?php } ?>
  <?php if ($error_logs) { ?>
  <div class="warning"><?php echo $error_logs; ?></div>
  <?php } ?>
  <div class="box">
    <div class="heading">
      <h1><img src="view/image/home.png" alt="" /> <?php echo $heading_title; ?></h1>
    </div>
    <div class="content">
      <div class="overview">
        <div class="dashboard-heading"><?php echo $text_overview; ?></div>
        <div class="dashboard-content">
          <table>
            <tr>
              <td><?php echo $text_total_sale; ?></td>
              <td><?php echo $total_sale; ?></td>
            </tr>
            <tr>
              <td><?php echo $text_total_sale_year; ?></td>
              <td><?php echo $total_sale_year; ?></td>
            </tr>
            <tr>
              <td><?php echo $text_total_order; ?></td>
              <td><?php echo $total_order; ?></td>
            </tr>
            <tr>
              <td><?php echo $text_total_customer; ?></td>
              <td><?php echo $total_customer; ?></td>
            </tr>
            <tr>
              <td><?php echo $text_total_customer_approval; ?></td>
              <td><?php echo $total_customer_approval; ?></td>
            </tr>
            <tr>
              <td><?php echo $text_total_review_approval; ?></td>
              <td><?php echo $total_review_approval; ?></td>
            </tr>
            <tr>
              <td><?php echo $text_total_affiliate; ?></td>
              <td><?php echo $total_affiliate; ?></td>
            </tr>
            <tr>
              <td><?php echo $text_total_affiliate_approval; ?></td>
              <td><?php echo $total_affiliate_approval; ?></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="statistic">
        <div class="range"><?php echo $entry_range; ?>
          <select id="range" onchange="getSalesChart(this.value)">
            <option value="day"><?php echo $text_day; ?></option>
            <option value="week"><?php echo $text_week; ?></option>
            <option value="month"><?php echo $text_month; ?></option>
            <option value="year"><?php echo $text_year; ?></option>
          </select>
        </div>
        <div class="dashboard-heading"><?php echo $text_statistics; ?></div>
        <div class="dashboard-content">
          <div id="report" style="width: 390px; height: 170px; margin: auto;"></div>
        </div>
      </div>
      <div class="latest">
        <div class="dashboard-heading"><?php echo $text_latest_10_orders; ?></div>
        <div class="dashboard-content">
          <table class="list">
            <thead>
              <tr>
              <td width="3%" class="right"><?php echo '№';?></td>
              <td width="7%" class="left"><?php echo $column_date_added; ?></td>
              <td width="7%" class="left">Изменено</td>
              <td width="14%" class="left"><?php echo $column_customer; ?></td>
              <td width="8%" class="left">Телефон</td>
							<td width="20%" class="left">Адрес</td>
							<td width="12%" class="left">E-mail</td>
							<td width="3%" align="left">Доставка</td>
              <td width="4%" class="right"><?php echo $column_total; ?></td>
              <td width="8%" class="left"><?php echo $column_status; ?></td>
              <td width="8%" class="right"><?php echo $column_action; ?></td>
              </tr>
            </thead>
            <tbody>

              <?php if ($orders) { ?>
              <?php foreach ($orders as $order) {
//                      var_dump($order['order_id']); die;

            	$ro_order = @mysqli_fetch_array(@mysqli_query($this->conn,'SELECT * FROM `order` WHERE order_id="'.$order['order_id'].'"'));
//                      var_dump($ro_order); die;
            	$ro_ship = @mysqli_fetch_array(@mysqli_query($this->conn,'SELECT * FROM order_total WHERE code="shipping" && order_id="'.$ro_order['order_id'].'"'));
							?>
              <tr>
                <td class="right"><?php echo $order['order_id'].(($ro_order['quick']) ? 'Б' : ''); ?></td>
                <td class="left"><?php echo date('d.m.y H:i',strtotime($order['date_added'] .' '.$order['time_added'])); ?></td>
                <td class="left"><?php echo date('d.m.y H:i',strtotime($ro_order['date_modified'])); ?></td>
                <td class="left"><?php echo $order['customer']; ?></td>
	              <td class="left"><?php echo $ro_order['telephone']; ?></td>
		            <td class="left"><?php echo (($ro_order['shipping_city'] != '') ? $ro_order['shipping_city'].', ' : '').$ro_order['shipping_address_1']; ?></td>
	              <td class="left"><?php echo $ro_order['email']; ?></td>
	              <td class="right"><?php echo ($ro_order['shipping_code'] == 'pickup.pickup') ? 'Сам' : $ro_ship['text']; ?></td>
	              <td class="right"><?php echo $order['total'].'<br><span style="font-size:90%">'.($ro_order['total']-$ro_order['delta']).' р.</span>'; ?></td>
	              <td class="left"><?php echo $order['status']; ?></td>
                <td class="right">
									<!--
									<?php foreach ($order['action'] as $action) { ?>
                  [ <a href="<?php echo $action['href']; ?>"><?php echo $action['text']; ?></a> ]
                  <?php } ?>
                  -->
									<!--
                  <a href="/admin/index.php?route=sale/order/info&token=<?php echo $_SESSION['token']?>&order_id=<?php echo $ro_order['order_id'];?>" style="color: #DDD;">View</a>
									|
									<a href="/admin/index.php?route=sale/order/update&token=<?php echo $_SESSION['token']?>&order_id=<?php echo $ro_order['order_id'];?>" style="color: #DDD;">Edit</a>
									|
                  -->
									<a href="/sedoy/order_new.php?id=<?php echo $ro_order['order_id'];?>">New Edit</a>
								</td>
              </tr>
              <?php } ?>
              <?php } else { ?>
              <tr>
                <td class="center" colspan="6"><?php echo $text_no_results; ?></td>
              </tr>
              <?php } ?>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--[if IE]>
<script type="text/javascript" src="view/javascript/jquery/flot/excanvas.js"></script>
<![endif]--> 
<script type="text/javascript" src="view/javascript/jquery/flot/jquery.flot.js"></script> 
<script type="text/javascript"><!--
function getSalesChart(range) {
	$.ajax({
		type: 'get',
		url: 'index.php?route=common/home/chart&token=<?php echo $token; ?>&range=' + range,
		dataType: 'json',
		async: false,
		success: function(json) {
			var option = {	
				shadowSize: 0,
				lines: { 
					show: true,
					fill: true,
					lineWidth: 1
				},
				grid: {
					backgroundColor: '#FFFFFF'
				},	
				xaxis: {
            		ticks: json.xaxis
				}
			}

			$.plot($('#report'), [json.order, json.customer], option);
		}
	});
}

getSalesChart($('#range').val());
//--></script> 
<?php echo $footer; ?>

