<?php 
$simple_page = '';
include $simple->tpl_header();
include $simple->tpl_static();
?>

  <div style="clear: both;"></div>
	<div class="content"><?php echo $text_error; ?></div>
  <div class="simplecheckout-button-block buttons"> 
    <div class="simplecheckout-button-right right"><br><br><a href="<?php echo $continue; ?>" class="button blue"><span><?php echo $button_continue; ?></span></a><br><br></div>
  </div>

<?php include $simple->tpl_footer() ?>
<script type="text/javascript"><!--
//$('div.sidebar-left').removeClass('sidebar-left');
//--></script>