					<aside class="box">

						<!--21:02:03--><div class="box-heading"><?php echo $heading_title; ?></div>


						<?php $i = 1; ?>
						<?php foreach ($products as $product) { ?>

						<article class="box-content product-item action<?php echo $product['sale'].$product['gift'];?>" style="height:250px;">

							<?php if ($product['thumb']) { ?>

							<div class="image">
								<a href="<?php echo $product['href']; ?>"
									onclick="yaCounter23350270.reachGoal('special_block_image_<?php echo $i; ?>'); return true;"
									>
									<img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" />
								</a>
							</div>

							<?php } ?>

							<div class="name" style="height:40px;">
								<a href="<?php echo $product['href']; ?>"
								onclick="yaCounter23350270.reachGoal('special_block_link_<?php echo $i; ?>'); return true;"
									><?php echo $product['name']; ?></a>
								</div>

								<?php if ($product['price']) { ?>

								<div class="price">

									<?php if (!$product['special']) { ?>

									<?php echo $product['price']; ?>

									<?php } else { ?>

									<span class="price-old"><?php echo intval($product['price']); ?></span> <span class="price-new"><?php echo $product['special']; ?></span>

									<?php } ?>

								</div>

								<?php } ?>

								<div class="cart">
									<?php
									$incart = '';
									$tmp_cart_var_names  = array();
									foreach ($_SESSION['cart'] as $cart_name => $cart_value) {
									$tmp = explode(':',$cart_name);
									if ($product['product_id'] == $tmp[0]) $incart = 'incart';
								}

								if($incart) { ?>
								<a href="<?php echo $product['href']; ?>" class="button " onclick="addToCart('<?php echo $product['product_id']; ?>','1','mainspec'); return false;" id="addtocart_<?php echo $product['product_id']; ?>"><?php echo $button_cart; ?></a>
								<a href="/index.php?route=checkout/simplecheckout" class="button incart" id="incart_mainspec_<?php echo $product['product_id'];?>" style="padding: 6px 12px 4px 16px;" title="В корзине"></a>
								<?php } else { ?>
								<a href="<?php echo $product['href']; ?>" class="button " onclick="addToCart('<?php echo $product['product_id']; ?>','1','mainspec'); return false;" id="addtocart_special_<?php echo $product['product_id']; ?>"><?php echo $button_cart; ?></a>
								<a href="/index.php?route=checkout/simplecheckout" class="button incart" id="incart_mainspec_<?php echo $product['product_id'];?>" style="padding: 6px 12px 4px 16px; display:none;" title="В корзине"></a>
								<?php } ?>
							</div>
						</article>

						<?php $i++; } ?>

					</aside>



					<?php /*?>

					<div class="box">

						<div class="box-heading"><?php echo $heading_title; ?></div>

						<div class="box-content">

							<div class="box-product">

								<?php foreach ($products as $product) { ?>

								<div>

									<?php if ($product['thumb']) { ?>

									<div class="image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" /></a></div>

									<?php } ?>

									<div class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>

									<?php if ($product['price']) { ?>

									<div class="price">

										<?php if (!$product['special']) { ?>

										<?php echo $product['price']; ?>

										<?php } else { ?>

										<span class="price-old"><?php echo $product['price']; ?></span> <span class="price-new"><?php echo $product['special']; ?></span>

										<?php } ?>

									</div>

									<?php } ?>

									<?php if ($product['rating']) { ?>

									<div class="rating"><img src="catalog/view/theme/default/image/stars-<?php echo $product['rating']; ?>.png" alt="<?php echo $product['reviews']; ?>" /></div>

									<?php } ?>

									<div class="cart"><input type="button" value="<?php echo $button_cart; ?>" onclick="addToCart('<?php echo $product['product_id']; ?>');" class="button" /></div>

								</div>

								<?php } ?>

							</div>

						</div>

					</div>

					*/?>