<?php echo $header; ?>
<div id="content">
  <div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
  <?php if ($error_warning) { ?>
  <div class="warning"><?php echo $error_warning; ?></div>
  <?php } ?>
  <?php if ($success) { ?>
  <div class="success"><?php echo $success; ?></div>
  <?php } ?>
  <script>
		function ShowHideProducts(order_id) {
			var products = $('#products_'+order_id);
			if (products.css('display') == 'none') {
				$.get('/sedoy/ajax/order_products.php', { order_id: order_id }).done(function(data) {
					products.html(data);
				});
				products.css('display', 'table-cell');
			} else {
				products.html('');
				products.css('display', 'none');
			}
		}

		function ShowAllProducts() {
			$('td.order_products').each(function(i,elem) {
				var td_id = elem.id;
				var order_id = td_id.substr(9);
				var products = $('#products_'+order_id);
				$.get('/sedoy/ajax/order_products.php', { order_id: order_id }).done(function(data) {
					products.html(data);
				});
				products.css('display', 'table-cell');
			});
		}

		function HideAllProducts() {
			$('td.order_products').each(function(i,elem) {
				var td_id = elem.id;
				var order_id = td_id.substr(9);
				var products = $('#products_'+order_id);
				products.html('');
				products.css('display', 'none');
			});
		}
		
		function ClearFilter() {
			$('*[name ^= "filter"]').val("");
		}
	</script>
  <div class="box">
    <div class="heading">
      <h1><img src="view/image/order.png" alt="" /> <?php echo $heading_title; ?></h1>
      <div class="buttons">
				<a href="#" onclick="ShowAllProducts(); return false;" class="button">Показать все</a>
				&nbsp;&nbsp;
				<a href="#" onclick="HideAllProducts(); return false;" class="button">Скрыть все</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a onclick="$('#form').attr('action', '<?php echo $invoice; ?>'); $('#form').attr('target', '_blank'); $('#form').submit();" class="button"><?php echo $button_invoice; ?></a>
				&nbsp;&nbsp;
				<a onclick="$('#form').attr('action', '/sedoy/xls_ans_express.php'); $('#form').attr('target', '_blank'); $('#form').submit();" class="button">XLS Ans-Express</a>
				&nbsp;&nbsp;
				<a onclick="$('#form').attr('action', '/sedoy/xls_ponyexpress.php'); $('#form').attr('target', '_blank'); $('#form').submit();" class="button">XLS Ponyexpress</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a onclick="location = '<?php echo $insert; ?>'" class="button"><?php echo $button_insert; ?></a><a onclick="$('#form').attr('action', '<?php echo $delete; ?>'); $('#form').attr('target', '_self'); $('#form').submit();" class="button"><?php echo $button_delete; ?></a>
			</div>
    </div>
    <div class="content">
      <form action="" method="post" enctype="multipart/form-data" id="form">
        <table class="list">
          <thead>
            <tr>
              <td width="1%" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" /></td>
              <td width="2%" class="right"><?php if ($sort == 'o.order_id') { ?>
                <a href="<?php echo $sort_order; ?>" class="<?php echo strtolower($order); ?>"><?php echo '№'; ?></a>
                <?php } else { ?>
                <a href="<?php echo $sort_order; ?>"><?php echo '№'; ?></a>
                <?php } ?>
								
							</td>
							
              <td width="8%" class="left" style="min-width: 85px !important;"><?php if ($sort == 'o.date_added') { ?>
                <a href="<?php echo $sort_date_added; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_date_added; ?></a>
                <?php } else { ?>
                <a href="<?php echo $sort_date_added; ?>"><?php echo $column_date_added; ?></a>
                <?php } ?>
							</td>

              <td width="5%" class="left"><?php if ($sort == 'o.date_shipped') { ?>
                <a href="<?php echo $sort_date_shipped; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_date_shipped; ?></a>
                <?php } else { ?>
                <a href="<?php echo $sort_date_shipped; ?>"><?php echo $column_date_shipped; ?></a>
                <?php } ?>
							</td>

							<!--
              <td width="7%" class="left"><?php if ($sort == 'o.date_modified') { ?>
                <a href="<?php echo $sort_date_modified; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_date_modified; ?></a>
                <?php } else { ?>
                <a href="<?php echo $sort_date_modified; ?>"><?php echo $column_date_modified; ?></a>
                <?php } ?>
							</td>
							-->
							
              <td width="10%" class="left"><?php if ($sort == 'customer') { ?>
                <a href="<?php echo $sort_customer; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_customer; ?></a>
                <?php } else { ?>
                <a href="<?php echo $sort_customer; ?>"><?php echo $column_customer; ?></a>
                <?php } ?>
							</td>
							
              <td width="9%" class="left">
              	Телефон
							</td>
			  <!--				
              <td width="3%" class="right" title="Заказов клиента"><?php if ($sort == 'o.orders_num') { ?>
                <a href="<?php echo $sort_orders_num; ?>" class="<?php echo strtolower($order); ?>"><?php echo 'К-во зак'; ?></a>
                <?php } else { ?>
                <a href="<?php echo $sort_orders_num; ?>"><?php echo 'К-во зак'; ?></a>
                <?php } ?>
								
							</td>
				-->
							<!--
              <td width="9%" class="left">
              	Заказов клиента
							</td>
							-->
							<!--
              <td width="3%" class="left" title="Период между заказами">
              	Пер.
							</td>
							-->

              <!--
							<td width="3%" class="right" title="Период между заказами"><?php if ($sort == 'o.orders_period') { ?>
                <a href="<?php echo $sort_orders_period; ?>" class="<?php echo strtolower($order); ?>"><?php echo 'С пред'; ?></a>
                <?php } else { ?>
                <a href="<?php echo $sort_orders_period; ?>"><?php echo 'С пред'; ?></a>
                <?php } ?>
							</td>
							-->

							
							<td width="7%" class="left">
								<?php if ($sort == 'o.shipping_city') { ?>
                					<a href="<?php echo $sort_shipping_city; ?>" class="<?php echo strtolower($order); ?>">Город</a>
                				<?php } else { ?>
                					<a href="<?php echo $sort_shipping_city; ?>">Город</a>
                				<?php } ?>							
							</td>
							<td width="7%" class="left">
								Метро
							</td>

							<td width="19%" class="left">
								Адрес
							</td>
							
							<td width="6%" class="left">
								E-mail
							</td>
							
							<td width="6%" align="left">
								Курьер
							</td>

							<td width="6%" align="left">
								Накладная
							</td>
						
							<td width="3%" align="left">
								Доставка
							</td>
							
              <td width="4%" class="right"><?php if ($sort == 'o.total') { ?>
                <a href="<?php echo $sort_total; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_total; ?></a>
                <?php } else { ?>
                <a href="<?php echo $sort_total; ?>"><?php echo $column_total; ?></a>
                <?php } ?>
							</td>

              <td width="8%" class="left"><?php if ($sort == 'status') { ?>
                <a href="<?php echo $sort_status; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_status; ?></a>
                <?php } else { ?>
                <a href="<?php echo $sort_status; ?>"><?php echo $column_status; ?></a>
                <?php } ?></td>
							

              <td width="8%" class="right"><?php echo $column_action; ?></td>
            </tr>
          </thead>
          <tbody>
            <tr class="filter">
              <td></td>

							<td><input type="text" name="filter_order_id" value="<?php echo $filter_order_id; ?>" style="width: 24px;" /></td>

              <td>
								<input type="text" name="filter_date_added_f" value="<?php echo $filter_date_added_f; ?>" size="8" class="date" />
								<input type="text" name="filter_date_added_t" value="<?php echo $filter_date_added_t; ?>" size="8" class="date" />
							</td>

              <td>
								<input type="text" name="filter_date_shipped_f" value="<?php echo $filter_date_shipped_f; ?>" size="8" class="date" />
								<input type="text" name="filter_date_shipped_t" value="<?php echo $filter_date_shipped_t; ?>" size="8" class="date" />
							</td>

              <!--
							<td><input type="text" name="filter_date_modified" value="<?php echo $filter_date_modified; ?>" size="8" class="date" /></td>
							-->

              <td><input type="text" name="filter_customer" value="<?php echo $filter_customer; ?>" /></td>
              
							<td><input type="text" name="filter_telephone" id="filter_telephone" value="<?php echo $filter_telephone; ?>" size="10" style="width: 110px;" /></td>
							<!--<td><input type="text" name="filter_orders_num" value="<?php echo $filter_orders_num; ?>" size="1" /></td>-->
							<!--
							<td></td>
							-->
							
							<td>
								<select name="filter_city" style="width: 80px;">
									<option value=""></option>
									<?php
										$qu_city = 'SELECT shipping_city FROM `order` GROUP BY shipping_city ORDER BY shipping_city';
										$re_city = @mysqli_query($ddb, $qu_city);
										while ($ro_city = @mysqli_fetch_array($re_city)) echo '<option value="'.$ro_city['shipping_city'].'"'.(($ro_city['shipping_city'] == $filter_city) ? ' selected' : '').'>'.$ro_city['shipping_city'].'</option>';
									?>
								</select>
							</td>
							<td>
								<select name="filter_metro_id" style="width: 80px;">
									<option value=""></option>
									<?php
										$qu_metro = 'SELECT metro.* FROM metro, `order` WHERE metro.metro_id=`order`.metro_id GROUP BY metro.metro_id ORDER BY metro.title';
										$re_metro = @mysqli_query($ddb, $qu_metro);
										while ($ro_metro = @mysqli_fetch_array($re_metro)) echo '<option value="'.$ro_metro['metro_id'].'"'.(($ro_metro['metro_id'] == $filter_metro_id) ? ' selected' : '').'>'.$ro_metro['title'].'</option>';
									?>
								</select>
							</td>

							<td><input type="text" name="filter_adres" value="<?php echo $filter_adres; ?>" size="35" /></td>
							
							<td><input type="text" name="filter_email" value="<?php echo $filter_email; ?>" size="10" /></td>
							
							<td>
								<select name="filter_order_courier_id" style="width: 100px;">
                  <option value="*"></option>
                  <?php 
										$qu = 'SELECT * FROM courier ORDER BY courier_id';
										$re = @mysqli_query($ddb, $qu);
										while ($ro = @mysqli_fetch_array($re)) echo '<option value="'.$ro['courier_id'].'"'.(($ro['courier_id'] == $filter_order_courier_id) ? ' selected' : '').'>'.$ro['name'].'</option>';
									?>
                </select>							
							</td>
							<td><input type="text" name="filter_decl" value="<?php echo $filter_decl; ?>" size="10" /></td>							
							
							<td></td>
							
              <td align="right"><input type="text" name="filter_total" value="<?php echo $filter_total; ?>" size="4" style="text-align: right;" /></td>
              
              <td><select name="filter_order_status_id" style="width: 80px;">
                  <option value="*"></option>
                  <?php if ($filter_order_status_id == '0') { ?>
                  <option value="0" selected="selected"><?php echo $text_missing; ?></option>
                  <?php } else { ?>
                  <option value="0"><?php echo $text_missing; ?></option>
                  <?php } ?>
                  <?php foreach ($order_statuses as $order_status) { ?>
                  <?php if ($order_status['order_status_id'] == $filter_order_status_id) { ?>
                  <option value="<?php echo $order_status['order_status_id']; ?>" selected="selected"><?php echo $order_status['name']; ?></option>
                  <?php } else { ?>
                  <option value="<?php echo $order_status['order_status_id']; ?>"><?php echo $order_status['name']; ?></option>
                  <?php } ?>
                  <?php } ?>
                </select></td>
							
              <td align="right">
								<a onclick="ClearFilter();" class="button" style="background-color: red; padding: 5px 8px;">X</a>
								&nbsp;&nbsp;&nbsp;
								<a onclick="filter();" class="button" title="Фильтр">Ф</a>
							</td>
            </tr>
            <?php $summ['ship'] = 0; $summ['total'] = 0; ?>
						<?php if ($orders) { ?>
            <?php foreach ($orders as $order) { 
            	$ro_order = @mysqli_fetch_array(@mysqli_query($ddb, 'SELECT * FROM `order` WHERE order_id="'.$order['order_id'].'"'));
            	$ro_ship = @mysqli_fetch_array(@mysqli_query($ddb, 'SELECT * FROM order_total WHERE code="shipping" && order_id="'.$ro_order['order_id'].'"'));
						?>
            <tr>
              <td style="text-align: center;"><?php if ($order['selected']) { ?>
                <input type="checkbox" name="selected[]" value="<?php echo $order['order_id']; ?>" checked="checked" />
                <?php } else { ?>
                <input type="checkbox" name="selected[]" value="<?php echo $order['order_id']; ?>" />
                <?php } ?>
							</td>
              

							<td class="right"><a href="#" onclick="ShowHideProducts(<?php echo $order['order_id'];?>); return false;"><?php echo $order['order_id'].(($ro_order['quick']) ? 'Б' : '');?></a></td>

              <td class="left"><?php echo date('d.m.y H:i',strtotime($order['date_added'].' '.$order['time_added'])); ?></td>

              <td class="left"><?php echo $order['date_shipped']; ?></td>

              <!--
							<td class="left"><?php echo date('d.m.y H:i', strtotime($order['date_modified'].' '.$order['time_modified'])); ?></td>
							-->

              <td class="left"><?php echo $order['customer']; ?></td>

              <td class="left"><span onclick="$('#filter_telephone').val();" style="cursor: pointer;"><?php echo $order['telephone']; ?></span></td>

              <!--td class="left"><?php echo $ro_order['orders_num']; ?></td-->

              <!--td class="left"><?php echo $ro_order['orders_period']; ?></td-->

              <td class="left"><?php echo $order['payment_city']; ?></td>
              <td class="left"><?php echo $order['metro']; ?></td>

              <td class="left"><?php echo $order['shipping_address_1']; ?></td>

              <td class="left"><div style="overflow-wrap: break-word; width: 80%;"><?php echo $order['email']; ?></div></td>
              
							<td class="left"><?php echo $order['courier']; ?></td>
							<td class="left"><?php echo $order['decl']; ?></td>							


              <td class="right"><?php
								echo $order['shipping_code']; ($order['shipping_code'] == 'pickup.pickup') ? 'Сам' : $ship['text'];
								//if (floatval($ro_ship['text']) > 1) $summ['ship'] = $summ['ship'] + floatval($ro_ship['text']);
								$summ['ship'] = $summ['ship'] + $ro_ship['value'];
							?></td>

              <td class="right"><?php
								echo $order['total'].'<br><span style="font-size:90%">'.($ro_order['total']-$ro_order['delta']).' р.</span>';
								$summ['total'] = $summ['total'] + $ro_order['total'];
							?></td>

              <td class="left"><?php echo $order['status']; ?></td>
              

              <td class="left">
								<!--a href="/admin/index.php?route=sale/order/info&token=<?php echo $_SESSION['token']?>&order_id=<?php echo $ro_order['order_id'];?>">View</a>
								|
								<a href="/admin/index.php?route=sale/order/update&token=<?php echo $_SESSION['token']?>&order_id=<?php echo $ro_order['order_id'];?>">Edit</a>
								|-->
								<a href="/sedoy/order_new.php?id=<?php echo $ro_order['order_id'];?>">Edit</a>

								<!--
								<?php foreach ($order['action'] as $action) { ?>
	                [ <a href="<?php echo $action['href']; ?>"><?php echo $action['text']; ?></a> ]
                <?php } ?>
                -->
							</td>
            </tr>
						<tr>
							<td colspan="16" style="display: none;" class="order_products" id="products_<?php echo $order['order_id'];?>"></td>
						</tr>

            <?php } ?>
            <?php } else { ?>
            <tr>
              <td class="center" colspan="13"><?php echo $text_no_results; ?></td>
            </tr>
            <?php } ?>
            <tr>
							<td class="left" colspan="12"><strong>Итого по странице</strong></td>
							<td align="right"><strong><?php echo $summ['ship']; ?> р.</strong></td>
							<td align="right"><strong><?php echo $summ['total']; ?> р.</strong></td>
							<td class="left" colspan="2">&nbsp;</td>
						</tr>
            <tr>
							<td class="left" colspan="12"><strong>Итого по всем страницам</strong></td>
							<td align="right"><strong><?php echo round($summ_ship,2); ?> р.</strong></td>
							<td align="right"><strong><?php echo round($summ_total,2); ?> р.</strong></td>
							<td class="left" colspan="2">&nbsp;</td>
						</tr>
          </tbody>
        </table>
      </form>
      <div class="pagination"><?php echo $pagination; ?></div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
function filter() {	
	url = 'index.php?route=sale/order&token=<?php echo $token; ?>';
	
	var filter_order_id = $('input[name=\'filter_order_id\']').attr('value');
	
	if (filter_order_id) {
		url += '&filter_order_id=' + encodeURIComponent(filter_order_id);
	}
	
	var filter_customer = $('input[name=\'filter_customer\']').attr('value');
	
	if (filter_customer) {
		url += '&filter_customer=' + encodeURIComponent(filter_customer);
	}
	
	var filter_telephone = $('input[name=\'filter_telephone\']').attr('value');
	
	if (filter_telephone) {
		url += '&filter_telephone=' + encodeURIComponent(filter_telephone);
	}

	var filter_decl = $('input[name=\'filter_decl\']').attr('value');
	
	if (filter_decl) {
		url += '&filter_decl=' + encodeURIComponent(filter_decl);
	}
	
	var filter_city = $('select[name=\'filter_city\']').attr('value');
	
	if (filter_city) {
		url += '&filter_city=' + encodeURIComponent(filter_city);
	}
	
	var filter_adres = $('input[name=\'filter_adres\']').attr('value');
	
	if (filter_adres) {
		url += '&filter_adres=' + encodeURIComponent(filter_adres);
	}
	
	/*
	var filter_orders_num = $('input[name=\'filter_orders_num\']').attr('value');
	
	if (filter_orders_num) {
		url += '&filter_orders_num=' + encodeURIComponent(filter_orders_num);
	}
	*/
	
	var filter_metro_id = $('select[name=\'filter_metro_id\']').attr('value');
	
	if (filter_metro_id) {
		url += '&filter_metro_id=' + encodeURIComponent(filter_metro_id);
	}
	
	var filter_email = $('input[name=\'filter_email\']').attr('value');
	
	if (filter_email) {
		url += '&filter_email=' + encodeURIComponent(filter_email);
	}
	
	var filter_order_courier_id = $('select[name=\'filter_order_courier_id\']').attr('value');
	
	if (filter_order_courier_id != '*') {
		url += '&filter_order_courier_id=' + encodeURIComponent(filter_order_courier_id);
	}	

	var filter_order_status_id = $('select[name=\'filter_order_status_id\']').attr('value');
	
	if (filter_order_status_id != '*') {
		url += '&filter_order_status_id=' + encodeURIComponent(filter_order_status_id);
	}	

	var filter_total = $('input[name=\'filter_total\']').attr('value');

	if (filter_total) {
		url += '&filter_total=' + encodeURIComponent(filter_total);
	}	
	
	var filter_date_added = $('input[name=\'filter_date_added\']').attr('value');
	
	if (filter_date_added) {
		url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
	}
	
	var filter_date_added_f = $('input[name=\'filter_date_added_f\']').attr('value');
	if (filter_date_added_f) {
		url += '&filter_date_added_f=' + encodeURIComponent(filter_date_added_f);
	}
	var filter_date_added_t = $('input[name=\'filter_date_added_t\']').attr('value');
	if (filter_date_added_t) {
		url += '&filter_date_added_t=' + encodeURIComponent(filter_date_added_t);
	}
	
	var filter_date_shipped = $('input[name=\'filter_date_shipped\']').attr('value');
	
	if (filter_date_shipped) {
		url += '&filter_date_shipped=' + encodeURIComponent(filter_date_shipped);
	}
	
	var filter_date_shipped_f = $('input[name=\'filter_date_shipped_f\']').attr('value');
	if (filter_date_shipped_f) {
		url += '&filter_date_shipped_f=' + encodeURIComponent(filter_date_shipped_f);
	}
	var filter_date_shipped_t = $('input[name=\'filter_date_shipped_t\']').attr('value');
	if (filter_date_shipped_t) {
		url += '&filter_date_shipped_t=' + encodeURIComponent(filter_date_shipped_t);
	}
	
	var filter_date_modified = $('input[name=\'filter_date_modified\']').attr('value');
	
	if (filter_date_modified) {
		url += '&filter_date_modified=' + encodeURIComponent(filter_date_modified);
	}
				
	location = url;
}
//--></script>  
<script type="text/javascript"><!--
$(document).ready(function() {
	$('.date').datepicker({dateFormat: 'yy-mm-dd'});
});
//--></script> 
<script type="text/javascript"><!--
$('#form input').keydown(function(e) {
	if (e.keyCode == 13) {
		filter();
	}
});
//--></script> 
<script type="text/javascript"><!--
$.widget('custom.catcomplete', $.ui.autocomplete, {
	_renderMenu: function(ul, items) {
		var self = this, currentCategory = '';
		
		$.each(items, function(index, item) {
			if (item.category != currentCategory) {
				ul.append('<li class="ui-autocomplete-category">' + item.category + '</li>');
				
				currentCategory = item.category;
			}
			
			self._renderItem(ul, item);
		});
	}
});

$('input[name=\'filter_customer\']').catcomplete({
	delay: 0,
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=sale/customer/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request.term),
			dataType: 'json',
			success: function(json) {		
				response($.map(json, function(item) {
					return {
						category: item.customer_group,
						label: item.name,
						value: item.customer_id
					}
				}));
			}
		});
	}, 
	select: function(event, ui) {
		$('input[name=\'filter_customer\']').val(ui.item.label);
						
		return false;
	},
	focus: function(event, ui) {
      	return false;
   	}
});
//--></script> 
<?php echo $footer; ?>